In [18]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import sqlite3 as sql

In [19]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'

In [20]:
html_page=requests.get(url)
data=bs(html_page.text, "html.parser")
table=data.find_all('tbody')
rows=table[0].find_all("tr")

In [21]:
df = pd.DataFrame(columns=["Average Rank","Film","Year"])

count=0
for n in rows:
    if count<51:
        if count==0:
            pass
        else:
            cols=n.findAll("td")
            dict={"Average Rank":cols[0].contents[0],
                  "Film":cols[1].contents[0],
                  "Year":cols[2].contents[0]}
            df_temp=pd.DataFrame(dict, index=[0])
            df=pd.concat([df,df_temp], ignore_index=True)
            # for n in cols:
                # print(n)
                # for k in n:
                    # print(k)
            # print(cols[0:3])
        count+=1

In [22]:
#Salvataggio in cs
df.to_csv("top_film.csv", index=False)

In [23]:
#Salvataggio in database
conn=sql.connect("Movies.db")
df.to_sql("Top_50",conn,if_exists='replace', index=False)
conn.close()

In [24]:
# df_db=pd.read_sql("select*from Top_50",conn)

In [25]:
"""Try the following practice problems to test your understanding of the lab. Please note that the solutions for the following are not shared. You are encouraged to use the discussion forums in case you need help.

Modify the code to extract Film, Year, and Rotten Tomatoes' Top 100 headers.

Restrict the results to only the top 25 entries.

Filter the output to print only the films released in the 2000s (year 2000 included).

Previous
"""

"Try the following practice problems to test your understanding of the lab. Please note that the solutions for the following are not shared. You are encouraged to use the discussion forums in case you need help.\n\nModify the code to extract Film, Year, and Rotten Tomatoes' Top 100 headers.\n\nRestrict the results to only the top 25 entries.\n\nFilter the output to print only the films released in the 2000s (year 2000 included).\n\nPrevious\n"

In [26]:
df2 = pd.DataFrame(columns=["Film","Year","Rotten"])

count=0
for n in rows:
    if count<26:
        if count==0:
            pass
        else:
            cols=n.findAll("td")
            dict={
                  "Film":cols[1].contents[0],
                  "Year":cols[2].contents[0],
                  "Rotten":cols[3].contents[0]}
            df_temp=pd.DataFrame(dict, index=[0])
            df2=pd.concat([df2,df_temp], ignore_index=True)
        count+=1

In [27]:
df2

                                             Film  Year    Rotten
0                                   The Godfather  1972        17
1                                    Citizen Kane  1941         2
2                                      Casablanca  1942         8
3                          The Godfather, Part II  1974        99
4                             Singin' in the Rain  1952        52
5                                          Psycho  1960        88
6                                     Rear Window  1954        47
7                                  Apocalypse Now  1979  unranked
8                           2001: A Space Odyssey  1968  unranked
9                                   Seven Samurai  1954        49
10                                        Vertigo  1958  unranked
11                                    Sunset Blvd  1950        21
12                                   Modern Times  1936         4
13                             Lawrence of Arabia  1962  unranked
14                             North by Northwest  1959        79
15                                      Star Wars  1977  unranked
16                                       Parasite  2019         6
17                               Schindler's List  1993  unranked
18  Lord of the Rings: The Fellowship of the Ring  2001  unranked
19                           Shawshank Redemption  1994  unranked
20                          It's a Wonderful Life  1946  unranked
21                                   Pulp Fiction  1994  unranked
22                              Avengers: Endgame  2019         7
23                                    City Lights  1931  unranked
24                One Flew Over the Cuckoo's Nest  1975  unranked